.overview {
  height: 500px;
  width: 300px;
  margin: auto;
}

.del-btn-overview {
  cursor: pointer;
  height: 30px;
  width: 70px;
  padding-left: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(15, 14, 14);
  color: white;
}

.desc {
  height: 100px;
  width: 200px;
  border-radius: 20px;
  border: none;
}

.desc:focus {
  height: 100px;
  width: 300px;
  border-radius: 20px;
  border: none;
}

.rating,
.ranking,
.contact,
.reviews,
.business-hours {
  font-size: 12px;
}

ul {
  padding-left: 0;
}

.restaurant-name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.img {
  height: 200px;
  width: 250px;
  object-fit: cover;
}

.hours {
  list-style-type: none;
}
