.hotel {
  height: 420px;
  width: 300px;
  margin: auto;
}

.add-btn-hotels {
  height: 30px;
  width: 40px;
  padding-left: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(101, 175, 147);
}
.rating,
.ranking,
.reviews,
.business-hours {
  font-size: 12px;
}

ul {
  padding-left: 0;
}

.hotel-name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.img {
  height: 200px;
  width: 250px;
  object-fit: cover;
}
