.map-container {
  width: 60%;
  height: 700px;
}

.story-wrapper {
  display: flex;
  align-items: center;
}

.story-right-wrapper {
  height: 700px;
  width: 40%;
}

.story-topbar {
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  /* background-color: whitesmoke; */
}

.search-story {
  border: solid;
  border-width: 0.5px;
  border-radius: 40px;
  padding-left: 20px;
  height: 40px;
  width: 60%;
}

.search-story:active {
  outline: none;
}

.search-story::placeholder {
  align-self: center;
}

.boxView {
  border-width: 0.2px;
  padding-top: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 500px;
}

.story-destination {
  margin-top: 5px;
  width: 85%;
  height: 40px;
  border: none;
  font-size: 35px;
  font-weight: 600;
}

.story-destination::placeholder {
  border: none;
  outline: none;
  font-size: 35px;
  font-weight: 600;
}

.story-destination:focus {
  border: none;
  outline: none;
}

.places-container {
  margin-top: 25px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  width: 85%;
  overflow-y: auto;
  /* background-color: whitesmoke; */
}

.tab-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
  margin-top: 20px;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs1,
.active-tabs2,
.active-tabs3 {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs3::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(241, 88, 88);
}

.active-tabs1::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(206, 206, 206);
}

.active-tabs2::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
